 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Information</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>MyBot.space is a free online gaming platform where users remotely control robots in the real world, while competing against other users for points. Whether racing cars, flying drones or shooting water pistols, it’s great fun.</p>
                </div>
                <div class="col-lg-4">
                    <p>Half the money raised through advertising on this network will pay the players who win the most points. Users who connect their own RC robots will also earn money if other people play with them. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Info Pack
                    </a>
                </div>
            </div>
        </div>
    </section>